body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

.order-table{   
	border-collapse:collapse;
}
 
.order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #acbece;
	border-bottom:1px solid #BBBBBB;
	padding:5px;
}
 
.order-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}
 
.order-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}

.tabla-encabezado {
    text-align: center;
    background: none repeat scroll 0 0 #045491;
    border: 1px solid #000000;
    border-bottom: 0px;
    color: #ffffff;
}
.tabla-expandir  { 
    width: 16px;
}
.tabla-eliminar { 
    width: 16px;
}
.tabla-radicado { 
    width: 50px;
}
.tabla-accion { 
    width: 70px;
}
.tabla-recurso { 
    width: 100px;
}
.tabla-municipio { 
    width: 120px;
}
.tabla-observaciones  { 
    min-width: 200px;
    text-align: justify;
}
.tabla-reserva  { 
    width: 20px;
}

.estado-asignado {
    background-color: olivedrab;
    color: #ffffff;
}
.estado-preasignado {
    background-color: yellow;
    color: #000000;
}
.estado-reserva {
    background-color: gray;
    color: #ffffff;
}
.estado-libre {
    background-color: white;
    color: #000000;
}

.mensaje-error {
    border: 1px solid;margin: 10px 0px;padding:10px 10px 10px 10px;
    margin-left:5px;
    color: #D8000C;background-color: #FFBABA;
    border: 1px solid;margin: 0px 5px;padding:2px 5px;
}

.mensaje-error-icon {background: url("#{resource['primefaces:messages/messages.png']}") no-repeat;display:block;float:left;margin:0;padding:0;position: relative;}
.mensaje-error-icon {height:16px;width:16px;}
.mensaje-error-summary {margin-left:10px;font-weight:bold;}
.mensaje-error-detail {margin-left:5px;}
.mensaje-error {color: #D8000C;background-color: #FFBABA;}
.mensaje-error {border: 1px solid;margin: 0px 5px;padding:2px 5px;}
.mensaje-error-icon {background-position: 0px -136px;}

.ui-growl {

}

/*.wijmo-wijmenu .wijmo-wijmenu-link {
border: 1px solid;
padding: 5px;
}*/
.ui-dialog {
    width: auto !important;
}