
body {
    margin: 40px;
    padding: 0;
    font-size: 14px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    line-height: 160%;
}

#main {
    width: 600px;
    margin: 0 auto;
}

h1 {
    color: #036fab;
    font-size: 240%;	
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}
